* {
    padding: 0%;
    margin: 0%;
    
}

body {
    background-image: url(../img/weed4.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.header {
    display: flex;
    justify-content: space-between;
    background-color: darkgreen;
    align-items: center;
    font-size: 25px;
    margin: 40px;
    color: black;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.input_head {
    margin-right: 198px;
}
.logo_head {
    width: 80px;
    margin-left: 10px;
}

    
a {
    margin: 15px;
    color: black;
}
 .nav {
    margin: 15px;
} 

.nav_link:hover {
    background-color: goldenrod;

}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.title_main {
    text-align: center;
    height: 30px;
 padding: 17px;
 letter-spacing: 1em;
 
}